<div
  style="position: fixed; top: 1rem; right: 1rem; z-index: 1055; width: 300px"
>
  <% if (success && success.length) { %>
  <div
    class="alert alert-success alert-dismissible fade show py-2 px-3 small"
    role="alert"
  >
    <%= success %>
    <button
      type="button"
      class="btn-close btn-close-white btn-sm"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% } %> <% if (error && error.length) { %>
  <div
    class="alert alert-danger alert-dismissible fade show py-2 px-3 small"
    role="alert"
  >
    <%= error %>
    <button
      type="button"
      class="btn-close btn-close-white btn-sm"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% } %>
</div>
