<nav
  class="navbar navbar-expand-lg navbar-dark bg-black sticky-top shadow-sm py-2"
  style="border-bottom: 0.2rex solid #515151"
>
  <div
    class="container-fluid px-4 d-flex align-items-center justify-content-between"
  >
    <div class="d-flex align-items-center gap-3">
      <!-- Logo -->
      <a
        class="font navbar-brand fs-6 fw-bold d-flex align-items-center"
        href="/"
      >
        Yasuke’s Legacy
      </a>
    </div>

    <ul
      class="navbar-nav d-flex flex-row align-items-center gap-2 bg-dark rounded-5 px-3 py-2"
    >
      <!-- New Post Icon -->
      <li class="nav-item">
        <a
          class="nav-link px-1 py-0"
          href="/new"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          title="New Post"
        >
          <i class="fa-solid fa-square-plus fs-6 text-white"></i>
        </a>
      </li>

      <% if (!currUser) { %>
      <li class="nav-item">
        <a href="/login" class="btn btn-outline-light btn-sm px-3 py-1 rounded-pill"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a href="/signup" class="btn btn-light btn-sm px-3 py-1 rounded-pill">Sign Up</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a
          href="/logout"
          class="btn btn-light btn-sm px-2 rounded-3 py-1 rounded-pill"
          >Logout</a
        >
      </li>
      <% } %>
    </ul>
  </div>
</nav>
